<h2 style="text-align: center;"><b>Python. Занятие 1: Основы</b></h2>

<img align=left src="https://cdn.fedoramagazine.org/wp-content/uploads/2015/11/Python_logo.png" style="height:160px;" />

<img align=center src="https://1.bp.blogspot.com/-16utHnlB3Ao/V4tpG8NBX0I/AAAAAAAAA7M/vDQ1p40JpE8M34eCr-UdriSV04Dn8au7QCLcB/s1600/jupyter-logo.png" style="height:90px;" />

---


Перед тем как начать складывать уровни нейросеточек как блинчики или предсказывать кредитоспособность клиентов, нужно быть хорошо знакомым с нужными библиотеками и языком, на котором они написаны. 
В нашем курсе мы будем использовать язык **Python**, так как он является оптимальным сочетанием простоты, силы и количества полезных библиотек, написанных для него.

На этом занятии мы научимся писать программы на Python, изучив его основы.

## Основы Python

Сейчас существуют две часто используемые версии Питона — **Python 2** и **Python 3**. Эти версии довольно похожи, но есть отличия, из-за которых они **не являются совместимыми** - программы, написанные на одной версии языка, могут не работать в другой.  

В нашем курсе мы будем писать на **Python 3**. Точная версия не принципиальна, но она должна быть >= 3.5  

Если Вы пользуетесь каким-либо из дистрибутивов Linux, то Python скорее всего уже установлен.
Попробуйте в терминале следующие команды для запуска интерактивного режима работы:

`python` или `python3` или `python2`

Выход: `Ctrl+D`

Режим работы, в котором выполнится код из файла main.py

`python main.py`

Помощь: **`help(X)`**, где `X` — то, по чему нужна помощь.  
Выход из помощи: `q`.

## Общая информация о языке

**Название** - **«Питон» или «Пайтон»** (в честь комедийных серий BBC «Летающий цирк Монти-Пайтона»)  
**Создатель** - **голландец Гвидо ван Россум (Guido van Rossum)** (в 1991 году)  

**Особенности**:  
- интерпретируемый
- объектно-ориентированный
- высокоуровневый язык
- встроенные высокоуровневые структуры данных
- динамическая типизация
- синтаксис прост в изучении
- поддержка модулей и пакетов (большинство библиотек
бесплатны)
- универсальный
- интеграция с другими языками (C (Cython), C++, Java (JPython))  

**Стиль оформления кода** - **PEP8** (если Вы хороший человек).  

*Самое главное из PEP8:*  
- отступ – 4 пробела
- длина строки < 80 символов
- переменные: var_recommended
- константы: CONST_RECOMMENDED

## Список материалов для самостоятельного изучения

Данный ноутбук не претендует на полный охват всех тем и нюансов языка, поэтому ниже для удобства предоставлены ссылки на внешние ресурсы, которые могут помочь лучше изучить язык:

* *Сайт языка Python* - https://www.python.org/


* *Базовый курс синтаксиса Python с практикой* - https://www.codecademy.com/learn/learn-python


* *Курс Python с нуля, можно выполнять задания в интерактивном режиме* - http://pythontutor.ru/


* *Очень много задач на практику из разных областей, сделано по типу соцсети* - https://codesignal.com


* *Новый онлайн-курс по Питону на Coursera от Mail.Ru Group* - https://www.coursera.org/learn/programming-in-python


* *Самоучитель Python* - https://pythonworld.ru/samouchitel-python


* *Статья про коварности Python* - https://habrahabr.ru/company/mailru/blog/337364/


* *Очень полезные трюки в Jupyter Notebook*: https://www.dataquest.io/blog/jupyter-notebook-tips-tricks-shortcuts/

### Типы

**Все типы данных** в Python относятся к одной из **2-х категорий**: **изменяемые (mutable)** и **неизменяемые (immutable)**.   

*Неизменяемые объекты*:  
* числовые данные (int, float), 
* bool,
* None,
* символьные строки (class 'str'), 
* кортежи (tuple).  

*Изменяемые объекты*:  
* списки (list), 
* множества (set), 
* словари (dict).  

Вновь определяемые пользователем типы (классы) могут быть определены как неизменяемые или изменяемые. Изменяемость объектов определённого типа является принципиально важной характеристикой, определяющей, может ли объект такого типа **выступать в качестве ключа для словарей (dict)** или нет.

----------

Начнем наше знакомство с языком с примитивных типов переменных:

### int

**Целочисленный тип переменной в питоне**

Чтобы задать переменную, не нужно указывать ее тип -- достаточно присвоить ей значение. При этом тип определится автоматически.

Давайте попробуем завести переменную, присвоить ей значение -- целое число, и вывести на экран ее значение и тип (type):

In [0]:
x = 5

print(x, '|', type(x))

5 | <class 'int'>

Как видно, тип получившейся переменной -- int.

C int'овыми переменными можно производить стандартные матеатические операции -- сложение, вычитание, умножение, деление, возведение в степень, взятие остатка при делении на число

Деление переменных типа int бывает двух типов -- целочисленное (с помощью символа //) и нецелочисленное (символ /). Результатом первого типа деления будет целое число, второго -- дробное.

In [0]:
a = 4 + 5
b = 4 * 5
c = 5 // 4
d = 5 / 4
e = 5**4 # 5 в степени 4
f = 5%4 # остаток при делении 5 на 4
g = (2 + 2) * 3 # скобки работают как обычно

print(a, b, c, d, e, f, g)

**Задание**  
Создайте переменные x = 3, y = -1.  
Чему равно следующее выражение?  
<img src="https://fs00.infourok.ru/images/doc/157/181342/hello_html_m550679e1.gif" width="200">

In [0]:
# your code here

Также язык питон удобен в работе с большими числами:

Давайте попробуем положить в переменную число 5000000000000000000000000001:

In [0]:
x = 5 * 1000000000 * 1000000000 * 10**9 + 1
print(x, '|', type(x))

Как видите, все получилось: полученная переменная типа int и с ней можно работать как с обычными числами. Во многих других языках (например, С++) положить такое большое число в переменную бы не вышло -- возникло бы переполнение.

### float

**Тип переменной для хранения дробных чисел в питоне**:

In [0]:
y = 12.345

print(y, '|', type(y))

12.345 | <class 'float'>

С этим типом также можно выполнять арифметические операции (даже целочисленное деление):

In [0]:
a = 4.2 + 5.1
b = 4.2 * 5.1
c = 5.0 / 4.0
d = 5.25 // 4.25
e = 5.25 ** 4.0

print(a, b, c, d, e)

9.3 21.419999999999998 1.25 1.0 759.69140625

Переменную типа int можно привести к типу float

In [0]:
a = 5
print(a, '|', type(a))
a = float(a)
print(a, '|', type(a))

5 | <class 'int'>
5.0 | <class 'float'>

### bool

**Логический тип переменной**: 

переменная типа bool может принимать два значения: `True` и `False`:

In [0]:
a = True
b = False

print(a, '|', type(a))

print(b, '|', type(b))

True | <class 'bool'>
False | <class 'bool'>

У типа bool существует связь с типом int -- переменная со значением True соответствует int'овой переменной со значением 1, а переменная со значением False -- int'овой переменной со значением 0.

Давайте в этом убедимся, попробовав сложить значения переменных a и b:

In [0]:
print(a + b)
print(a + a)
print(b + b)

1
2
0

Ну и просто приведем a и b к типу int:

In [0]:
print(int(a), int(b))

1 0

Логические "и", "или", "не" в питоне обозначаюся ключевыми словами `and`, `or`, `not` соответственно:

In [0]:
print(True and False, '\n')

print(True or True, '\n')

print(not False, '\n')

False

True

True

In [0]:
# в переменную a будет записан результат сравнения 2 и 3. т.е. False, потому что (2==3) неверно. 
a = (2 == 3)
b = (4 < 5)

print(a, '|', type(a))
print(b, '|', type(b))

False | <class 'bool'>
True | <class 'bool'>

In [0]:
a or (a and not b)

False

### If

**Условный оператор**

В коде часто приходится проверять выполнимость или невыполнимость каких-то условий. Синтаксис следующий

```
if <условие1 (булевское выражение)> :
    <код, который выполнится, если условие верно>
elif <условие2 (булевское выражение)>:
    <код, который выполнится, если условие1 было неверно, а условие2 верно>
else:
    <код, который выполнится, если условие1 и условие2 были неверны>
```

Обратите внимание, что код, который должен выполняться внутри каждого условия, записывается с отступом в 4 пробела от уровня if, elif и else: в питоне области видимости переменных обозначаются отступами.

*То есть, отступы позволяют понять, где начинается код, который должен выполняться при выполнении условия в if, и где заканчивается*

Рассмотрим пример: пусть в нашем коде есть переменная x. Пусть мы хотим вывести на экран сообщение "x отрицателен", если x<0, "x равен нулю", если x=0 и "x положителен", если x>0. Код будет следующий:

In [0]:
x = 10

if x<0:
    print("x отрицателен")
    print("x отрицателен")
elif x==0:
    print("x равен нулю")
else:
    print("x положителен")
    
# этот код уже не "внутри" else, потому что записан без отступа в 4 пробела. Поэтому он выполнится 
# в любом случае после отработки if-elif-else
print("Done")

x положителен
Done

Конечно, в `if` можно подставлять и более сложные булевские выражения:

In [0]:
if x>3 and x < 11 or x==5:
    print(x)
    # тоже выполнится при выполнения условия после if, так как этот код тоже записан с отступом в 4 пробела
    print("nice")

10
nice

In [0]:
# if внутри if:
x = 3
y = 5
if x == 3:
    if y > 6:
        # отступ в 4 пробела от внутреннего if
        print("y greater than 6")
    else:
        print("y not grater than 6")
        
    # отступ в 4 пробела от внешнего if, поэтому код выполнится если x==3 и при любом значении y
    print("x is equal to 3")

y not grater than 6
x is equal to 3

### None

**ничего, null**

Специальный тип в питоне, который обозначает *ничего*

Его нельзя привести ни к одному другому типу языка. Проверить, является ли переменная param типом None, можно так:

```
if param is None
```

С первого взгляда может быть непонятно, зачем он нужен, но на самом деле это оченб удобный тип. Например, если вы где-то в коде создаете объект (базу данных, например), обращаясь к внешнему коду и хотите проверить, создалась ли ваша база данных, вы можете осуществить эту проверку, сравнив переменную базы данных с None. Примерно так:

```
database = MyDatabase(db_host, db_user, db_password, db_database)

if database is None:
```

In [0]:
z = None
print(z, '|', type(z))

None | <class 'NoneType'>

Убедимся, что None нельзя привести к другому типу:

In [0]:
int(z)

TypeError: ignored

Проверка переменной на None:

In [0]:
if z is None:
    z = 'I am None!'
z

'I am None!'

### str

**строка**

Тип переменной "строка". Нужен для хранения и выполнения операций с строками -- наборами символов. В питоне строку можно задавать как с помощью одинарных кавычек, так и с помощью двойных, разницы нет (главное, чтобы в начале и конце одной строки стояли одинаковые кавычки):

В *python2.7* есть отдельный тип **unicode**. В *python3.5 (и выше)* (который будем использовать мы) всё это включено в тип **str**.

In [0]:
x = "abc"
y = 'xyz'
print(x, '|', type(x))
print(y, '|', type(y))

abc | <class 'str'>
xyz | <class 'str'>

Со строками тоже можно выполнять некоторые операции. Например, можно сложить две строки -- тогда вторая припишется в конец первой:

In [0]:
a = 'Андрей'
b = "Михайлович"
s = a + " " + b
print(s)

Андрей Михайлович

Также у строк есть некоторое количество *методов*

Метод -- это название для функций, которые вызываются от объекта. Например, у нас есть объект a -- строка, и у нее можно вызвать метод `.upper()`:

```
a.upper()
```

Методы деляится на те, которые изменяют сам объект, который их вызывает, и на те, которые возвращают результат, но не изменяют сам объект. 

Вот пример методов `.upper()` и `.lower()`, которые возвращают копию строки (не изменяя саму строку), от которой был вызван метод, приведенную к верхнему и нижнему регистру соответственно:

P.S. При вызове метода какого-то класса (или функции какого-то модуля) можно написать его имя и через точку нажать **tab**:  

<имя\_объекта\_класса(модуля)>**.[tab]**  

Тогда всплывёт меню, в котором можно выбрать из всех существующих в этом классе методов (функций модуля).

In [0]:
print(a.upper())
print(a.lower())

АНДРЕЙ
андрей

Можно получить длину строки с помощью функции `len`:

In [0]:
print(len(a))

6

Можно обращаться к отдельным элементам строки через индексы (индексация в питоне с 0):

In [0]:
print(a)
print(a[0])
print(a[1])

Андрей
А
н

А также можно получить *слайс* строки -- кусок строки с i-ого символа по j-ый. Делается это следующим образом:

In [0]:
i = 0
j = 4
print(a[i:j])

Андр

Можно проверять наличие подстроки в строке:

In [0]:
s = 'ya stroka'
if 'ya' in s:
    print("ya deistvitel\'no stroka")

ya deistvitel'no stroka

А вот изменять уже существующие строки нельзя:

In [0]:
s = 'ya stroka'
s[0] = 'l'

TypeError: ignored

### Метод `split()`:

У строк наряду с методами `.upper()`, `.lower()` и остальными есть метод `.split()`, который часто бывает очень полезен. Этот метод делит строку на несколько по символу, который ему указываешь, и возвращает набор полученных строк (точнее, массив полученных строк -- о том, что такое массив, ниже)

Если символ не указывать, строка делится по пробелам:

In [0]:
splitted_line = "Райгородский Андрей Михайлович".split()
print(splitted_line)

['Райгородский', 'Андрей', 'Михайлович']

In [0]:
splitted_line = "Райгородский Андрей Михайлович".split('р')
print(splitted_line)

['Райго', 'одский Анд', 'ей Михайлович']

### Структуры данных и встроенные функции

### list

**массив, список, лист**

Вот мы и добрались до типов языка python, которые представляют собой *контейнеры*, то есть, это типы данных, которые являют собой хранилища для других типов данных.

Один из таких типов -- `list` (массив, список, лист). Это контейнер, куда можно положить сколько угодно других переменных, значений, и эти переменные даже могут быть разных типов и даже так же могут быть контейнерами! То есть, в list можно положить list:

Чтобы задать list, надо в квадратные скобки `[]` положить нужные элементы. Пустые скобки задают пустой list. Пустой лист также можно задать, написав `list()`:

In [0]:
a = list()
b = []

# убедимся, что два варианта создания пустого массива эквивалентны:
print(a == b)

True

In [0]:
c = [2, 'a', [4, 'stroka', 6.56]]

Что можно делать с list:

Можно положить элемент в конец массива:

In [0]:
c.append(4.67)
c

[2, 'a', [4, 'stroka', 6.56], 4.67]

можно удалить элемент с конца массива:

In [0]:
c.pop()
c

[2, 'a', [4, 'stroka', 6.56]]

**Методы list, которые мы рассмотрим ниже, будут работать для всех iterable контейнеров **

(что значит iterabel, можно прочитать тут: http://pythonz.net/references/named/iterable/

кратко -- это структуры данных, поддерживающие поочередный проход по своим элементам)

По индексам можно получить доступ к элементам массива (индексация, как обычно, с 0):

In [0]:
print(c[0])
print(c[2])
# да, индексы могут быть отрицательные: -i есть i-ый с конца элемент массива (в нумерации с 1)
print(c[-1])

2
[4, 'stroka', 6.56]
[4, 'stroka', 6.56]

Можно не только получать по 1 элементу массива, но и *слайс* -- элементы массива с индексами между i (включительно) и j (не включительно):

In [0]:
# в d будет записан новый массив, в котором будут 1 и 2 элементы массива c
d = c[1:3]
print(d)

['a', [4, 'stroka', 6.56]]

А еще можно сделать операцию наоборот -- не по индексу получить элемент массива, а по элементу массива получить его индекс.

`L.index(element)` - возвращает индекс элемента `element` в списке `L`, если он там присутствует. Иначе вернется ошибка

In [0]:
c.index('a')

1

Можно проверять принадлежность элемента массиву:

In [0]:
5 in c

False

In [0]:
if 'a' in c:
    print("element \'a\' in c")

element 'a' in c

Можно еще сложнее: получить каждый k-й элемент массива c, начиная с элемента с индексом i (включительно) и заканчивая элементом с индексом j (не включительно):

In [0]:
c = [1, 2, 3, 4, 5, 6, 7, 8, 9]
d = c[1:7:2]
# for(int i = 1; i < 7; i += 2) {}
print(d)

[2, 4, 6]

С помощью слайсов можно перевернуть массив, например:

In [0]:
print(c)
# получим каждый минус первый элемент массива начиная с 0 индекса и заканчивая последним
d = c[::-1]
print(d)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 1]

Элементы массива также можно изменять, обращаясь к ним по индексу или слайсу:

In [0]:
print(c)
c[0] = 100500
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[100500, 2, 3, 4, 5, 6, 7, 8, 9]

In [0]:
# вместо 2, 3 и 4 элементов массива запишем  число 80
c[2:5] = [80]
print(c)
# вместо 2, 3 и 4 элементов массива запишем  числа 80, 90
c[2:5] = [80, 90]
print(c)

[100500, 2, 80, 6, 7, 8, 9]
[100500, 2, 80, 90, 8, 9]

Также массивы можно складывать. Результатом сложения двух массивов будет новый массив, в котором сначала будут записаны элементы первого массива, затем -- второго:

In [0]:
d = [9, 0]
c+d

[100500, 2, 80, 90, 8, 9, 9, 0]

А вот вычитать нельзя:

In [0]:
c-d

TypeError: ignored

С помощью `len()` можно получить размер листа (и вообще любого iterable объекта):

In [0]:
len(c)

6

можно отсортировать элементы массива, вызвав метод .sort():

In [0]:
# вызов метода sort изменяет сам объект c, а не возвращает копию:
c.sort()
c

[2, 8, 9, 80, 90, 100500]

### Задание 1

Напишите код, который проверяет, является ли переменная x строкой, и если да, то если в строке больше одного слова (слово--последовательность подряд идущих символов без пробелов), то выводит на экран количество слов в этой строке и сами слова в алфавитном порядке

In [0]:
# your code here

3
hello
world
z

### Задание 2

Напишите код, который все элементы массива x с **нечетными** индексами переставит в обратном порядке.

Т.е. если x = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], то код должен получать [0, 9, 2, 7, 4, 5, 6, 3, 8, 1]

In [0]:
# your code here

[0, 9, 2, 7, 4, 5, 6, 3, 8, 1]

### tuple

**кортеж**

этот тип данных очень похож на list, имеет ту же структуру, но отличается тем, что он неизменяемый

это нужно, например, чтобы `tuple` мог выступать в качестве ключей словаря (о них ниже). list в качестве ключей словаря выступать не может.

Задать tuple можно круглыми скобками:

In [0]:
t = 'a', 5, 12.345, (2, 'b')
t

('a', 5, 12.345, (2, 'b'))

Tuple нельзя изменять. Давайте в этом убедимся:

In [0]:
t.append(5)

AttributeError: ignored

In [0]:
t[0] = 9

TypeError: ignored

Но получать элементы по индексу и слайсам, конечно, можно (tuple же iterable):

In [0]:
print(t[2])
print(t.index(5))
print(t[:2])

12.345
1
('a', 5)

Как и list, кортежи можно складывать и работает сложение так же, как в list 

(вообще, с кортежами можно делать все, что можно делать с list, если это не изменяет кортеж)

In [0]:
m = (1, 2, 3)
# складывать
print(t + m)
# узнать размер 
print(len(t))
# проверить наличие элемента
print(5 in t)

('a', 5, 12.345, (2, 'b'), 1, 2, 3)
4
True

In [0]:
a = [1, 2, 3]
b = a
b[0] = 49
print(a)

[49, 2, 3]

---

### Циклы - for и while

iterable стректуры данных так называются, потому что по ним можно *итерироваться* -- последовательно получать значения последовательных элементов этой структуры данных. Итерироваться можно с помощью циклов `for` или `while`.

Синтаксис следующий:

```
for element in iterable:
    <code>
```

здесь каждую новую итерацию цикла в element будет записываться очередное значение из контейнера iterable и с ним можно будет работать внутри тела цикла (`code`). Когда код внутри тела цикла отработает, начнется новая итерация цикла -- в переменную element запишется следующее значение из iterable и опять будет выполняться code.

Код, который будет выполняться каждую итерацию цикла, записывается после двоеточия с отступом 4 пробела от строчки c `for`.

Посмотрим на примере:

In [0]:
# создадим list элементов
models = ['decision tree', 'linear model', 'svm', 'ensemble']

# итерируемся по названиям модели: каждую итерацию цикла в переменную model будет
# записываться новое значение из models и оно будет использоваться для print(model)
for model in models:
    # тело цикла. Здесь с отступом в 4 пробела нужно описать код, который будет выполняться на каждой итерации цикла.
    print(model)

# этот код уже будет выполняться ПОСЛЕ цикла, потому что он записан без отступа в 4 пробела после for:
print("Done")
print(model)

decision tree
linear model
svm
ensemble
Done
ensemble

**P.S.** Зметим, что каждую итерацию цикла в переменную model **копируется** очередное значение из models. Это значит, что если вы внутри цикла измените переменную model, соответствующее значение в массиве models изменено **не будет**

Синтаксис `while`:

```
while <условие (булевское выражение)>:
    <code>
```

Здесь код, написанный вместо `code` будет выполняться каждую итерацию цикла, пока условие после `while` будет выполняться.

Посмотрим на примере: Напишем цикл, в котором будем выводить переменную x и увеличивать x на 1, пока x не станет больше 10:

In [0]:
x = 1

while x <= 10:
    print(x)
    # более удобный способ записи x = x + 1
    x += 1

1
2
3
4
5
6
7
8
9
10

Иногда бывает нужно прервать выполнение цикла при выполнении какого-то условия

Например, мы хотим итерироваться по массиву строк, на каждой итерации выводить строку на экран и прервать цико (перестать выводить строки), если мы встретили строку stop.

Это делается с помощью ключевого слова `break`:

In [0]:
mas = ['stroka1', 'stroka2', 'stroka3', 'stop', 'stroka4']

for s in mas:
    if s == 'stop':
        break
    print(s)

stroka1
stroka2
stroka3

Иногда же хочется не прервать выполнение всего цикла, а прервать выполнение именно одной итерации цикла и продолжить цикл со следующей итерации.

Например, мы так же, как в предыдущем примере, хотим итерироваться по массиву строк и выводить строку на каждой итерации на экран, но не хотим выводить строку на экран, если эта строка равна 'null'.

Это делается с помощью ключевого слова `continue`:

In [0]:
mas = ['stroka1', 'null', 'stroka3', 'stop', 'null']

for s in mas:
    if s == 'null':
        continue
    print(s)

stroka1
stroka3
stop

#### range

Для работы с циклами в питоне есть очень полезная функция `range()`. Допустим, вы хотите написать цикл, который бы отработал 100 раз. Можно сделать это следующим образом:

```
i = 0
while i < 100:
    i += 1
    <code>
```

но это неудобно: нужно завести вспомогательную переменную i, написать лишние 2 строчки кода (i=0 и i+=1). Так код терядет в понятности и читабельности. Гораздо проще записать этот цикл с помощью range.

`range()` принимает 3 аргумента: начало интервала begin, конец интервала end и шаг step, с которым будет двигаться по игтервалу, и возвращает iterable объект -- по сути, массив чисел начиная с begin включительно, заканчивая end не включительно, числа в массиве идут с шагом step.

Посмотрим на пример:

In [0]:
r = range(1, 100, 10)
#приведем возвращаемый iterable к list и выведем на экран:
print(list(r))

[1, 11, 21, 31, 41, 51, 61, 71, 81, 91]

Теперь легко записать цикл:

In [0]:
for i in range(1, 10, 1):
    print(i)
# for(int i = 1; i < 10; i += 1){cout << i;}

1
2
3
4
5
6
7
8
9

Если у range не указывать последний алгумент step, он по умолчанию будет 1.

А если указать всего один аргумент, то range выдаст iterable с началом в 0 и концом в этом аргументе:

In [0]:
list(range(4, 8))

[4, 5, 6, 7]

In [0]:
list(range(8))

[0, 1, 2, 3, 4, 5, 6, 7]

С помощью range нетрудно переписать цикл, который мы писали выше, где итерировались по названиям моделей, так, чтобы элементы массива models  можно было изменять внутри цикла:

In [0]:
# создадим list элементов
models = ['decision tree', 'linear model', 'svm', 'ensemble']

# итерируемся по индексам массива models
for i in range(len(models)):
    # тут если вы поменяете models[i], то значение в models тоже изменится
    print(models[i])
    
# этот код уже будет выполняться ПОСЛЕ цикла, потому что он записан без отступа в 4 пробела после for:
print("Done")

decision tree
linear model
svm
ensemble
Done

### Задание 3

Напишите цикл, который выводит все числа от 0 до 500, делящиеся на 7, если в них есть цифра 8

*Подсказка*: переменную типа int можно привести к типу str:
```
x = 5
y = str(x)
```

In [0]:
# your code here

28
84
98
168
182
189
238
280
287
308
378
385
448
483

---

### enumerate, zip

`zip()` принимает два iterable аргумента и возвращает iterable из пар соответствующих элементов этих двух iterable:

In [0]:
first = 'a b c d e f g'.split(' ')
second = '1 2 3 4 5 6 7'.split(' ')

list(zip(first, second))

[('a', '1'),
 ('b', '2'),
 ('c', '3'),
 ('d', '4'),
 ('e', '5'),
 ('f', '6'),
 ('g', '7')]

Что будет, если один из iterable короче, чем другой:

In [0]:
first = 'a b c d e f g'.split(' ')
second = '1 2 3 4 5'.split(' ')

list(zip(first, second))

[('a', '1'), ('b', '2'), ('c', '3'), ('d', '4'), ('e', '5')]

Это опять же полезно для использования в циклах:

In [0]:
models = ['decision tree', 'linear model', 'svm', 'ensemble']

# zip dвозвращает пару элементов, которые можно записать в 2 разные переменные в цикле for. 
# например, здесб мы записываем первый элемент пары в num, второй -- в model.
for num, model in zip(range(len(models)), models):
    print(str(num+1)+'\'s model is:', model)

1's model is: decision tree
2's model is: linear model
3's model is: svm
4's model is: ensemble

Однако в этом коде мы хотели просто пронумеровать элементы списка models, но нам для этого пришлось писать zip(range(...))

Именно для такого случая, когда надо пронумервать элементы какого-то iterable, существует функция `enumerate`:

`enumerate(iterable)` возвращает пары номер-элемент iterable:

In [0]:
models = ['decision tree', 'linear model', 'svm', 'ensemble']

# zip dвозвращает пару элементов, которые можно записать в 2 разные переменные в цикле for. 
# например, здесб мы записываем первый элемент пары в num, второй -- в model.
for num, model in enumerate(models):
    print(str(num+1)+'\'s model is:', model)

---

### Задание 4

1. Создайте список `a`, состоящий из каких-то элементов.
2. Создайте список `b` такого же размера, как `a`, состоящий из каких-то элементов.
3. Выведите **нумерованный список пар** из элементов списков `a` и `b`.

In [0]:
# Ваш код здесь

[(0, ('11', 'x')), (1, ('22', 'y')), (2, ('33', 'z'))]
[(0, '11', 'x'), (1, '22', 'y'), (2, '33', 'z')]

---

### set

**Множество**

Множество -- это массив, в котором элементы не могут повторяться (то есть, как и в математическом определении множества)

Внутри языка множество устроено совсем не так, как массив или кортеж, элементы множества хранятся не последовательно, поэтому к элементам множества нельзя обрашаться по индексу.

Пустое множество можно создать с помощью set():

In [0]:
s = set()

print(s, '|', type(s))

set() | <class 'set'>

А можно привести список к множеству:

Обратите внимание, что элементы set'а выводятся в отсортированном порядке!

In [0]:
s = set([5, 2, 3, 2])
s

{2, 3, 5}

Можно добавлять элементы в множество с помощью метода `.add()`:

In [0]:
s.add(1)
s.add('a')
# None тоже можно добавить =)
s.add(None)
s.add('bullet')
print(s)

{1, 2, 3, 'bullet', 5, None, 'a'}

Метод .difference() позволяет получить элементы, которые есть в одном сете, но нет в другом:

In [0]:
s1 = set(range(0, 10))
s2 = set(range(5, 15))

print('s1: ', s1, '\ns2: ', s2)

s1:  {0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
s2:  {5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

In [0]:
# элементы, которые есть в s1, но нет в s2
print(s1.difference(s2))
print()
# элементы, которые есть в s2, но нет в s1
print(s2.difference(s1))

{0, 1, 2, 3, 4}

{10, 11, 12, 13, 14}

In [0]:
# пересечение множеств s1 и s2 можно записать двумя способами:
print(s1.intersection(s2))
print(s1 & s2)

{5, 6, 7, 8, 9}
{5, 6, 7, 8, 9}

In [0]:
# объединение множеств s1 и s2 тоже можно записать двумя способами:
print(s1.union(s2))
print(s1 | s2)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

Из сета можно удалить элемент по значению:

In [0]:
s1.discard(0)
s1

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [0]:
l = [1, 2, 3] # 1e9
if 4 in l:
    pass

s = set(l) # 1e9
if 4 in s:
    pass

### dict

**словарь, ассоциативный массив**

Словарь -- это структура данных, которая представляет отображение из одного типа данных в другой. Представляет собой набор пар ключ-значение, в качестве ключа могут выступать immutable типы данных (int, str, tuple, ...)

Массивы, которые мы до этого рассматривали, были отображением непрерывного отрезка [0, n] в другой тип данных. `dict` может быть гораздо удобнее, когда нужно использовать в качестве ключа другой тип данных (например, сопоставить именам людей (str) их даты рождения) или когда в качестве ключа хочется использовать int, но не все значения из промежутка [0, n] нужны. Например, если хочется сопоставить года рождения великих писателей их именам.

Пустой словарь можно создать либо с помощью `{}`, либо с `dict()`:

In [0]:
d = {}
dd = dict()

print(d == dd, '|', type(d))

True | <class 'dict'>

Добавим значение value по ключу key в словарь:

In [0]:
key = 'a'
value = 100

d[key] = value
d

{'a': 100}

Непустой словарь можно создать несколькими способами:

In [0]:
d = {
    'short': ['dict'],
    'long': 'dictionary'
}
d

{'long': 'dictionary', 'short': ['dict']}

In [0]:
d = dict(short='dict', long='dictionary')
d

{'long': 'dictionary', 'short': 'dict'}

In [0]:
d = dict([(1, 1), (2, 4)])
d

{1: 1, 2: 4}

Создать дефолтный словарь с ключами из списка, значениями None:

In [0]:
d = dict.fromkeys(['a', 'b'])
d

{'a': None, 'b': None}

Создать дефолтный словарь с ключами из списка, всеми значениями по умолчанию 100:

In [0]:
d = dict.fromkeys(['a', 'b'], 100)
d

{'a': 100, 'b': 100}

In [0]:
100 in d

False

**dict comprehensions**

Еще один способ объявления словаря: создадим словарь, где каждому целому числу от 0 до 6 поставим в соответствие квадрат этого числа:

In [0]:
d = {a: a ** 2 for a in range(7)}
d

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

### !

Будьте осторожны, если ключа, по которому поступил запрос, нет в словаре, то выбросит исключение:

In [0]:
d = {1: 100, 2: 200, 3: 300}
d['a']

KeyError: ignored

Поэтому безопаснее использовать **get(key)**. Тогда, если нужно, можно проверить на **None**:

In [0]:
d.get(1)

100

In [0]:
d.get('a') == None

True

Самое часто используемое - получение ключей, получение значений и получение всего вместе:

In [0]:
# получить список ключей
print(d.keys(), '|', type(d.keys()))

# чтобы вывести ключи, нужно привести d.keys() к списку
print(list(d.keys()))

dict_keys([1, 2, 3]) | <class 'dict_keys'>
[1, 2, 3]

In [0]:
# получить список значений
print(d.values(), '|', type(d.values()))

# то же самое -- чтобы вывести значения, нужно привести d.values() к списку
print(list(d.values()))

dict_values([100, 200, 300]) | <class 'dict_values'>
[100, 200, 300]

In [0]:
# получить список пар ключ-значение
print(d.items(), '|', type(d.items()))

# то же самое -- чтобы вывести пары ключ-значения, нужно привести d.items() к списку
print(list(d.items()))

dict_items([(1, 100), (2, 200), (3, 300)]) | <class 'dict_items'>
[(1, 100), (2, 200), (3, 300)]

---

### Задание 5
Дан массив строк mas. Одной строкой создайте словарь, в котором по ключу строки будет записана пара (кортеж длины 2) (индекс строки в массиве mas, длина строки)

In [0]:
# Ваш код здесь

{'abc': (1, 3), 'hello': (0, 5)}

# Функции

In [0]:
def f(x):
    return x**2

def mlt_f(a, b, c=0):
    if c > 0:
        return a + b
    return a - b

f(3), mlt_f(3, 2)

(9, 1)

In [0]:
g = lambda x: x**2

g(3)

9

In [0]:
l = [2, 3, 4, 1, 0, -10, 5, 6, 100]

sorted(l)

[-10, 0, 1, 2, 3, 4, 5, 6, 100]

In [0]:
def f(x):
    return abs(x)

sorted(l, key=f)

[0, 1, 2, 3, 4, 5, 6, -10, 100]

In [0]:
sorted(l, key=lambda x: abs(x))

[0, 1, 2, 3, 4, 5, 6, -10, 100]

### modules

**Модули** - это "библиотеки" Python. То есть это самостоятельные, объединённые технически и логически, именованные части Python кода

Можно рассматривать их как код, функции, записанные в других файлах (модулях), и чтобы использовать их в своем коде, нужно подключить эти файлы (модули)

* О модулях необходимо знать только одно - как их импортировать:

In [0]:
import collections

* Импортировать только какой-то компонент из модуля:

In [0]:
# импортируем структуру данных Counter из библиотеки collections
from collections import Counter

* Импортировать с другим именем (чаще всего используется для локаничности кода):

In [0]:
import collections as cool_lib

In [0]:
count = cool_lib.Counter()

Жизненный пример:

In [0]:
import numpy as np

In [0]:
На этом самый базовый ноутбук закончен. Если здесь что-то было непонятно/не хватило информации по какой-то из освеченных тем, можно перейти по ссылкам в начале ноутбука и изучить больше!