In [0]:
import numpy as np
import pandas as pd

Загрузим датасет

In [0]:
path_to_file = 'https://gist.githubusercontent.com/bigsnarfdude/515849391ad37fe593997fe0db98afaa/raw/f663366d17b7d05de61a145bbce7b2b961b3b07f/weather.csv'
weather = pd.read_csv(path_to_file)

weather

     outlook temperature humidity  windy play
0   overcast         hot     high  False  yes
1   overcast        cool   normal   True  yes
2   overcast        mild     high   True  yes
3   overcast         hot   normal  False  yes
4      rainy        mild     high  False  yes
5      rainy        cool   normal  False  yes
6      rainy        cool   normal   True   no
7      rainy        mild   normal  False  yes
8      rainy        mild     high   True   no
9      sunny         hot     high  False   no
10     sunny         hot     high   True   no
11     sunny        mild     high  False   no
12     sunny        cool   normal  False  yes
13     sunny        mild   normal   True  yes

Отделим целевую переменную

In [0]:
target = weather['play'].map({'yes': 1, 'no': 0})
print(target)

0     1
1     1
2     1
3     1
4     1
5     1
6     0
7     1
8     0
9     0
10    0
11    0
12    1
13    1
Name: play, dtype: int64

Уберем целевую переменную из исходной таблицы, чтобы в ней остались только признаки

In [0]:
weather = weather.drop('play', 1)
weather

     outlook temperature humidity  windy
0   overcast         hot     high  False
1   overcast        cool   normal   True
2   overcast        mild     high   True
3   overcast         hot   normal  False
4      rainy        mild     high  False
5      rainy        cool   normal  False
6      rainy        cool   normal   True
7      rainy        mild   normal  False
8      rainy        mild     high   True
9      sunny         hot     high  False
10     sunny         hot     high   True
11     sunny        mild     high  False
12     sunny        cool   normal  False
13     sunny        mild   normal   True

Подготовка признаков: превратим их в цифры

In [0]:
weather['outlook'] = weather['outlook'].map({'rainy': -1, 'overcast': 0, 'sunny': 1})
weather

    outlook temperature humidity  windy
0         0         hot     high  False
1         0        cool   normal   True
2         0        mild     high   True
3         0         hot   normal  False
4        -1        mild     high  False
5        -1        cool   normal  False
6        -1        cool   normal   True
7        -1        mild   normal  False
8        -1        mild     high   True
9         1         hot     high  False
10        1         hot     high   True
11        1        mild     high  False
12        1        cool   normal  False
13        1        mild   normal   True

**Задание:** сделайте с остальными признаками тоже самое

In [0]:
# YOUR CODE HERE

    outlook  temperature  humidity  windy
0         0           -1         1  False
1         0            0         0   True
2         0            1         1   True
3         0           -1         0  False
4        -1            1         1  False
5        -1            0         0  False
6        -1            0         0   True
7        -1            1         0  False
8        -1            1         1   True
9         1           -1         1  False
10        1           -1         1   True
11        1            1         1  False
12        1            0         0  False
13        1            1         0   True

Теперь нужно разделить выборку на тренировочную и тестовую

In [0]:
from sklearn.model_selection import train_test_split

# X_train, X_test, y_train, y_test = train_test_split(weather, target, stratify=target, test_size=0.4)
X_train = weather[:10]
X_test = weather[10:]
y_train = target[:10]
y_test = target[10:]

X_train

   outlook  temperature  humidity  windy
0        0           -1         1  False
1        0            0         0   True
2        0            1         1   True
3        0           -1         0  False
4       -1            1         1  False
5       -1            0         0  False
6       -1            0         0   True
7       -1            1         0  False
8       -1            1         1   True
9        1           -1         1  False

In [0]:
X_test

    outlook  temperature  humidity  windy
10        1           -1         1   True
11        1            1         1  False
12        1            0         0  False
13        1            1         0   True

# Обучение модели

In [0]:
from sklearn.neighbors import KNeighborsClassifier

In [0]:
knn = KNeighborsClassifier(n_neighbors=2) # это - модель. Она еще не обучена

knn.fit(X_train, y_train) # это - процесс обучения модели. Теперь модель обучена

predictions = knn.predict(X_test) # делаем предсказания на новых данных

print('predictions:', predictions)
print('y_test:', np.array(y_test))

predictions: [0 1 1 1]
y_test: [0 0 1 1]

**Задание:** как мы уже делали ранее, посчитайте accuracy предсказания.

In [0]:
# YOUR CODE HERE

0.75

На будущее: любую модель использовать также просто, как и KNN. Достаточно только изменить название класса. Методы `fit()` и `predict()` у всех моделей работают аналогичным образом.

In [0]:
from sklearn.ensemble import GradientBoostingClassifier

gb = GradientBoostingClassifier() # это - модель. Она еще не обучена

gb.fit(X_train, y_train) # это - процесс обучения модели. Теперь модель обучена

predictions = gb.predict(X_test) # делаем предсказания на новых данных

print('predictions:', predictions)
print('y_test:', np.array(y_test))