## Дополнительное ДЗ по питону

Здесь собраны несколько простых задачек на отработку базовых знаний python3.

Код можно писать прямо в ячейках, но не забудьте сохраняться!

**Задача 1**  
Есть список `a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]`.  

Выведите все элементы, которые меньше 5.

In [0]:
# your code here
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
...

**Задача 2**  
Даны списки:  
```
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
```

Нужно вернуть список, который состоит из элементов, общих для этих двух списков.

In [0]:
# your code here

**Задача 3**  
Даны два словаря. 
```
a = {'жигули': 'машина', 'boeing': 'самолет', 'apple': 'телефон'}
b = {'cat': 'кот', 'dog': 'пес', 'apple': 'яблоко'}
```
Слейте (соедините) их в один.

In [0]:
# your code here

**Задача 4**  
Найдите топ-5 значений из листа:  
```
lst = [211, 948, 300, 170, 744, 986, 948, 680, 472, 174, 911, 149, 865, 837, 137, 313, 821, 753, 829, 455, 475, 162, 855, 557, 696, 310, 828, 100, 130, 348]
```

In [0]:
# your code here

**Задача 5***  
*(Дополнительное задание)*  

Дан следующий текст:

In [0]:
text = '''
- Да?
- Алё!
- Да да?
- Ну как там с деньгами?
- А?
- Как с деньгами-то там?
- Чё с деньгами?
- Чё?
- Куда ты звонишь?
- Тебе звоню.
- Кому?
- Ну тебе.
- Кому тебе?
- А вот тебе вот.
- Ты кто такой?
- Михал Палыч.
- Какой Михал Палыч?
- Терентьев.
- Такого не знаю, ты ошибся номером, друг.
- Кто?
- Ты.
- Чё с деньгами?
- Какими деньгами?
- Ну которые я внес в капитал.
- Куда?
- В капитал прожиточного минимума.
- Ты пьяный или кто, сынок?
- Я тре.. Я Михал Палыч Терентьев.
- Кто такой?
- Пьяный.
'''

1. Понизьте регистр (чтобы не было больших букв)
2. Удалите символы `'.', ',', '-', '!', '?'` (можно воспользоваться методом `.replace()`
3. Cколько раз употреблялось каждое слово в тексте? Выведите результат в виде `dict`. {'слово': частота}
4. Выведите топ-5 самых частых слов в тексте